/*start variables*/
:root{
    --main-color:#14a9c6;
    --secendary-color: #c5c3c3;
}
/*end variables*/
/*start components*/
    .text-component{
        width: 100%;
    }
    .text-component .text-container{
        min-width: 300px;
        max-width: 400px;
        text-align: center;
        margin: auto;
        margin-top: 70px;
        margin-bottom: 50px;
    }
    .text-component .text-container h2{
        font-size: 35px;
        color: var(--secendary-color);
        margin: 0;
    }
    .text-component .text-container p{
        font-size: 15px;
        color: var(--secendary-color);
        margin: 0%;
    }
/*end components*/
/*start global rules*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*small screens*/
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
/*medium screens*/
@media (min-width:992px){
    .container{
        width: 990px;
    }
}
/*large screens*/
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/*end global rules*/
/*start landing*/
    .landing{
        background-image: url(/images/nocturnal_1366x768.jpg);
        background-size: cover;
        height: 100vh;
    }
    /*start header*/
        .landing .header .container{
            display: flex;
            justify-content: space-between;
            align-items: center;   
        }
        .landing .header .container img{
            width: 150px;
        }
        .landing .header .container i{
            color: var(--secendary-color);
            font-size: 23px;
        }
        .landing .header .container i:hover{
            color: var(--main-color);
            cursor: pointer;
        }
        .landing .header .container .links i{
            display: none;
        }
        .landing .header .container ul{
            list-style: none;
            display: flex;
            padding: 0;
            margin: 0;

        }
        .landing .header .container ul li{
            padding: 20px;
            text-align: center;
        }
        .landing .header .container ul a{
            text-decoration: none;
            color:var(--secendary-color);
        }
        .landing .header .container ul a:hover{
            color:var(--main-color) ;
        }
        .landing .header hr{
            width: 1107px;
        }
    /*end header*/
    /*start text*/
    .landing .text{
        background-color: var(--main-color);
        opacity: 0.6;
        color: var(--secendary-color);
        width: 50%;
        position: absolute;
        top: 55%;
        left: 0;
        height: 260px;
        transform: translateY(-50%);
    }
    .landing .text h1{
        margin-left: 30%;
    }
    .landing .text p{
        margin-left: 30%;
    }
    /*start text*/
/*end landing*/
/*start services*/
    .services .container{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
        grid-gap: 50px;
    }
    .services .container i{
        color: var(--main-color);
        font-size: 30px;
    }
    .services .container h3{
        color: var(--main-color);
        font-size: 25px;
    }
    .services .container p{
        color: var(--secendary-color);
    } 
/*end services*/
/*start gap-1*/
    .gap-1{
        background-image: url(/images/man-on-the-moon_1280x720.jpg);
        background-size: cover;
        height: 400px;
        margin-top: 50px;
        width: 100%;
    }
    .gap-1 .text{
        position: relative;
        background-color: var(--main-color);
        right: -55%;
        top: 20%;
        width: 45%;
        height: 240px;
        margin-right: 0px;
        opacity: 0.6;
        color: var(--secendary-color);
    }
    .gap-1 .text h3{
        padding: 20px;
        padding-left: 50px;
    }
    .gap-1 .text p{
        padding-left:50px ;
    }
/*end gap-1*/
/*start protfolio*/
.protfolio .img-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(379.8px,1fr));
    margin-top: 10px;
    grid-gap: 0ch;
}
.protfolio .img-container .element{
    min-width: 379.8px;
    max-width: 1fr;
    height: 300px;
}
.protfolio .img-container .element img{
    width: 100%;
    height: 300px;
    transition: 0.6s;
}
.protfolio .img-container .element img:hover{
    opacity: 0.7;
}
.protfolio .but{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.protfolio .but button{
    background-color: var(--main-color);
    width: 160px;
    height: 30px;
    opacity: 0.8;
    color: var(--secendary-color);
    border-radius: 15px;
    margin-bottom: 100px;
    border: 1px solid #ccc;
}
.protfolio .but button:hover{
    cursor: pointer;
    color: var(--main-color);
    background-color: var(--secendary-color);
}
/*start protfolio*/
/*start gap-2*/
.gap-2
{
    background-image: url(/images/luna_1024x768.jpg);
    background-size: cover;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.gap-2 .text{
    background-color: var(--main-color);
    height: 40%;
    opacity: 0.6;
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color:#1e1e1e;
}
.gap-2 .text button{
    background-color: #1e1e1e;
    color: var(--secendary-color);
    width: 130px;
    opacity: 1;
    border: 1px solid #1e1e1e;
}
.gap-2 .text button:hover{
    cursor: pointer;
    color: #1e1e1e;
    background-color: var(--secendary-color);
}
/*end gap-2*/
/*start about*/
.about .num-info{
    background-image: url(/images/opus-galaxis_1024x768.jpg);
    background-size:cover ;
    height: 250px;
}
.about .num-info .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--main-color);
    opacity: 0.6;
    position: relative;
    top: 24%;
}
.about .num-info .container .text{
    padding-top: 10px;
    text-align: center;
}
.about .num-info .container .text h3{
    font-size: 25px;
}
.about .num-info .container i{
    background-color: #1e1e1e;
    color: var(--secendary-color);
    font-size: 20px;
}
.about .container{
    display: flex;
    justify-content: space-between;
}
.about .container .main-text{
    text-align: center;
}
.about .container .testimonials{
    flex-basis: 45%;
}
.about .container .skills{
    flex-basis: 45%;
}
.about .container .testimonials .image-container{
    width: 70px;
    height: 70px;
    border-radius: 100px;
}
.about .container .testimonials .image-container img{
    width: 70px;
    height: 70px;
    border-radius: 100px;
}
.about .container .testimonials .element{
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    align-items: center;
}
.about .container .testimonials #first{
    margin-top: 50px;
    margin-bottom: 30px;
}
.about .container .testimonials #two{
    margin-top: 50px;
    margin-bottom: 50px;
}
.about .container .testimonials .element .image-container{
    flex-basis: 70px;
}
.about .container .testimonials .element p{
    flex-basis: 80%;
    font-size: 13px;
    color: var(--secendary-color);
}
.skills .bars .percent{
    margin:45px;
}
.skills .bars .percent p{
    margin: 0;
}
.skills .bars .percent:nth-of-type(1)::after {
    content: "83%";
    position: relative;
    top: -41px;
    right: -41%;
    font-size: 12px;
    color: var(--main-color);
}
.skills .bars .percent:nth-of-type(2)::after {
    content: "76%";
    position: relative;
    top: -41px;
    right: -38%;
    font-size: 12px;
    color: var(--main-color);
}
.skills .bars .percent:nth-of-type(3)::after {
    content: "68%";
    position: relative;
    top: -41px;
    right: -34%;
    font-size: 12px;
    color: var(--main-color);
}
.skills .bars .percent .bar{
    display: flex;
    width: 300px;
}
.skills .bars .percent .filled-bar{
    height: 20px;
    background-color: var(--main-color);
}
.skills .bars .percent .empty-bar{
    height: 20px;
    background-color: var(--secendary-color);
}
.skills .bars .percent:nth-of-type(1)  .filled-bar{
    width: 83%;
}
.skills .bars .percent:nth-child(1) .empty-bar{
    width: 17%;
}
.skills .bars .percent:nth-of-type(2) .filled-bar{
    width: 76%;
}
.skills .bars .percent:nth-of-type(2) .empty-bar{
    width: 24%;
}
.skills .bars .percent:nth-of-type(3) .filled-bar{
    width: 68%;
}
.skills .bars .percent:nth-of-type(3) .empty-bar{
    width: 32%;
}
/*end about*/
/*start gap-3*/
.gap-3 {
    background-image: url(/images/tempus-fugit_1024x768.jpg);
    background-size: cover;
    width: 100%;
    height: 200px;
}
.gap-3 .container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.gap-3 .container .form{
    display: flex;
    flex-direction: row;
    flex-basis: 35%;
}
.gap-3 .container .form input{
    background-color: transparent;
    border: 1px solid var(--secendary-color);
    color: var(--secendary-color);
    width: 300px;
    height: 50px;
}
.gap-3 .container .form input:focus{
    outline: none;
}
.gap-3 .container .form button{
    background-color: var(--main-color);
    border: 1px solid var(--secendary-color);
    color: var(--secendary-color);
}
.gap-3 .container .form button:hover{
    opacity: 0.8;
    cursor: pointer;
}
.gap-3 .container p{
    flex-basis: 60%;
    color: var(--secendary-color);
    border-left: none;
}
/*end gap-3*/
/*start contact*/
.contact .container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.contact .container .form{
flex-basis: 70%;
}
.contact .container .form .main-input{
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
}
.contact .container .form .main-input:focus{
    outline: none;
}
.contact .container .form textarea{
    height: 200px;
}
.contact .container .form input:last-of-type{
    background-color: var(--main-color);
    color: var(--secendary-color);
    padding: 15px;
    border: none;
    display: flex;
    margin-left: auto;
}
.contact .container .form input:last-of-type:hover{
    cursor: pointer;
    opacity: 0.9;
}
.contact .container .text{
    flex-basis: 28%;
}
.contact .container .text h4{
    margin-bottom: 20px;

}
.contact .container .text p{
    margin-top: 20px;
    margin-bottom: 100px;
}
/*end contact*/
/*start footer*/
.footer{
    background-image: url(/images/eve_1024x768.jpg);
    background-size: cover;
    width: 100%;
    height: 200px;
    
}
.footer .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--secendary-color);
}
.footer .container img{
    width: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.footer .container h4{
    font-size: 14px;
    margin-bottom: 0;
}
.footer .container hr{
    width: 13%;
}
.footer .container p{
    margin-top: 40px;
    font-size: 13px;
    margin-bottom: 0;
}
.footer .container p a{
    text-decoration: none;
    color: var(--main-color);
}
.footer .container p a:hover{
    color: var(--secendary-color);
    cursor: pointer;
}
/*end footer*/